body {
    background: #fefefe;
}

h2 {
    color: #1460aa;
}

.screen {
   font-weight: 600;
   color: yellowgreen;
}

.hint {
    font-weight: 900;
    background-color: darkorange
}

a {color: inherit;}

.box {
    display: inline-block;
    background: firebrick;
    width: 200px;
    height: 400px;
}