body {
    background: #fefefe;
    margin: 30px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: orchid;
    width: 100vw;
    padding: 15px 30px 15px 30px;
}

h2 {
    color: #1460aa;
}

.screen {
   font-weight: 600;
   color: yellowgreen;
}

.hint {
    font-weight: 900;
    background-color: darkorange
}
.warning {
    color: darkred;
}

a {color: inherit;}

.box {
    box-sizing: border-box;
    display: inline-block;
    background: firebrick;
    width: 400px;
    height: 310px;
    overflow: scroll;
    padding: 16px;
    border-width: 2px;
    border-style: solid;
    border-color:darkgoldenrod;
    border-radius: 30px;
    margin: 10px;
}
.to-do {
    display: inline-block;
    background: lightgray;
    width: 310px;
    height: 310px;
}
